button {
  border: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &[disabled] {
    background-color: $grayDarker !important; // sass-lint:disable-line no-important
    &:hover {
      background-color: $grayDarker !important; // sass-lint:disable-line no-important
      cursor: not-allowed;
    }
  }
}

.button {
  &--padded {
    padding: 1em 3em;
  }
  &--primary {
    background-color: $brandPrimary;
    color: $white;
  }
  &--secondary {
    background-color: $brandSecondary;
    color: $white;
  }
  &--transparent {
    background-color: transparent;
  }
}
