input {
  padding: 0.5em 1em;
  background-color: transparent;
  border: none;
  color: $brandSecondary;
  width: 100%;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: rgba($brandSecondary, 0.5);
  }
  &[type="checkbox"] {
    width: auto;
  }
}
select {
  display: block;
  padding: 0em 1em;
}
