@import '../../common/components/global/styles/utils/index';

.manage-specs {}
.manage-specs-form {
  @include flex(column, nowrap);
  &__button-group {
    button {
      background-color: $brandPrimary;
      color: $white;
      &:hover {
        background-color: $brandSecondary;
      }
    }
    button + button {
      margin-left: 1em;
    }
    button[type=submit] {
      margin-right: 0em;
    }
  }
  &__icon {
    margin: 0em 0.5em 2.5px 0em;
    vertical-align: middle;
  }
}
