@import '../../common/components/global/styles/utils/index';

.login-view {
  @include shadow(bottom, center, 10px);
  @include sm {
    margin: 2em auto 0em;
    width: 90vw;
  }
  @include md {
    margin: 5em auto 0em;
    width: 80vw;
  }
  margin: 0em auto;
  padding: 1em 2em;
  background-color: $white;
  width: 95vw;
  &__login-form-title {
    @extend %h2;
  }
  &__login-form {}
}
